.container_asidebar {
    position: absolute;
    z-index: 999;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
}

.home {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 30px;
}

.home img,
.menu img {
    cursor: pointer;
    width: 100%;
}

.asidebar,
.card_cafe {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 500px;
    padding-top: 70px;
    z-index: 9999 !important;
    top: 0px;
    animation: 0.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: white;
}

.asidebar_close {
    animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-out-left both;
}

@keyframes wipe-in-right {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-out-left {
    from {
        clip-path: inset(0 0 0 0);
    }

    to {
        clip-path: inset(0 100% 0 0);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px;
    border-bottom: 1px solid #ccc;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #65451F;
    color: #5F6F52;
}

.close,
.card_close {
    max-width: 20px;
    max-height: 20px;
}

.close img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.content {
    box-sizing: border-box !important;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    margin-top: 20px;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.content::-webkit-scrollbar-thumb {
    background-color: #65451f5d;
}

.content_item {
    display: flex;
    /* background-color: rgb(184, 148, 111, 0.5); */
    background-color: rgb(169, 179, 137, 0.3);
    max-height: 150px;
    width: 100%;
    border-radius: 15px;
    /* overflow: hidden; */
    box-shadow: 5px 5px 10px 0px rgba(231, 231, 231, 0.5);
    cursor: pointer;
}

.content_item:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.content_img {
    width: 40%;
    height: 150px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;

}

.content_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_isi {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 5px 10px;
}

.content_isi p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    color: #65451F;
}

.content_isi p:nth-child(2) {
    font-size: 12px;
    color: #65451F;

}

/* ------------------------------------------------ Card Cafe */

/* -------------------------- Card Header */

.card_cafe {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    overflow-y: auto;
}

.card_cafe::-webkit-scrollbar {
    width: 8px;
}

.card_cafe::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.card_cafe::-webkit-scrollbar-thumb {
    background-color: #65451f5d;
}

.card_image {
    position: relative;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_close {
    position: absolute;
    top: 28px;
    right: 30px;
}

.card_close img {
    filter: brightness(100);
    cursor: pointer;
}

.card_header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.card_title {
    font-size: 25px;
    font-weight: 400;
}

.card_header p {
    font-size: 12px;
}

.card_header p:nth-of-type(2) {
    font-size: 14px;
    color: #ccc;
}

.star_full {
    display: inline-block;
    font-size: 18px;
    position: relative;
    color: #fdd835;
}

.star_half {
    display: inline-block;
    font-size: 18px;
    position: relative;
    color: #ddd;
}

.star_half:before {
    content: '\2605';
    /* Unicode character for star */
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    /* Warna karakter bintang diatur menjadi transparan */
    background: linear-gradient(to right, #fdd835 50%, transparent 50%);
    /* Efek setengah bintang menggunakan linear gradient */
    -webkit-background-clip: text;
    /* Background clip agar hanya mempengaruhi teks */
    background-clip: text;
}

/* -------------------------- Card option */
.card_content_option {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(192, 190, 190);
}

.card_content_option p {
    cursor: pointer;
    padding: 20px 0;
    flex: 1;
    text-align: center;
}

.card_content_option .option_active {
    font-weight: bold;
    border-bottom: 2px solid #65451F;
}

.card_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin-bottom: 100px; */
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
}

.card_content p {
    font-size: 14px;
    line-height: 1.5;
}

/* -------------------------- informasi card */
.informasi_cafe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-bottom: 1px solid rgb(192, 190, 190);
}

.informasi_cafe .alamat_cafe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.informasi_cafe .alamat_cafe img {
    width: 25px;
}

.informasi_cafe .w_informasi {
    display: flex;
    gap: 20px;
}

.informasi_cafe .sub_title {
    width: 25%;
}

.photos_cafe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.photos_cafe .photos {
    display: flex;
    overflow-x: scroll;
    /* scroll-snap-type: mandatory; */
}

.photos_cafe ::-webkit-scrollbar {
    height: 8px;
}

.photos_cafe ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.photos_cafe ::-webkit-scrollbar-thumb {
    background-color: #65451f5d;
}

.photos_cafe .photos img {
    height: 300px;
    scroll-snap-align: center;
}

.section_title {
    font-size: 18px !important;
    font-weight: bold;
}

/* ---------------------------------------------- tentang card */

.w_tentang {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid rgb(192, 190, 190);

}

.tentang_title {
    font-weight: bold;
}

.item_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tentang_item::before {
    content: '\2713';
    /* Unicode character for checkmark */
    color: green;
    /* Warna ceklis */
    margin-right: 5px;
    /* Jarak antara ceklis dan teks */
}